#!/sbin/openrc-run
# Copyright 1999-2018 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2

: ${SCIBOT_OS_GROUP:=scibot}
: ${SCIBOT_OS_USER:=scibot}
: ${SERVICES_LOG_LOC:="/var/log/scibot"}

BOOKMARKLET_LOG="${SERVICES_LOG_LOC}/bookmarklet.log"

pidfile="/run/scibot-bookmarklet/pid"
command="/usr/bin/scibot-bookmarklet"
command_args=" >> \"${BOOKMARKLET_LOG}\" 2>&1"

sync_pidfile="/run/scibot-bookmarklet/sync.pid"
sync_command="/usr/bin/scibot-sync"

command_user="${SCIBOT_OS_USER}:${SCIBOT_OS_GROUP}"

depend() {
    after net
}

start_pre() {
    checkpath --directory --owner ${command_user} --mode 0775 "/run/scibot-bookmarklet"
}

start () {
    ebegin "Starting scibot bookmarklet sync"
	start-stop-daemon --start --quiet --pidfile ${sync_pidfile} \
		--make-pidfile --exec ${sync_command}
    eend $? "Failed to stop scibot bookmarklet sync"

    ebegin "Starting scibot bookmarklet"
	start-stop-daemon --start --quiet --pidfile ${pidfile} \
		--exec ${command} -- ${command_args}
    eend $? "Failed to stop scibot bookmarklet"
}

stop () {
    ebegin "Stopping scibot bookmarklet"
    start-stop-daemon --stop --quiet --pidfile ${pidfile}
    eend $? "Failed to stop scibot bookmarklet"

    ebegin "Stopping scibot bookmarklet sync"
    start-stop-daemon --stop --quiet --pidfile ${sync_pidfile}
    eend $? "Failed to stop scibot bookmarklet sync"
}
