#!/sbin/openrc-run
# Copyright 1999-2018 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2

: ${SVCGROUP:=blazegraph}
: ${SVCUSER:=blazegraph}
: ${LOG_LOC:="/var/log/${SVCNAME}"}
# : ${CONFIG:="/etc/${SVCNAME}.conf"}

LOG="${LOG_LOC}/sysout.log"

JAVA_HOME=$(java-config -O)
[ -n "${GENTOO_VM}" ] && JAVA_HOME=$(java-config --select-vm="${GENTOO_VM}" -O)

SVC_JAR="/usr/share/${SVCNAME}/${SVCNAME}.jar"
# ENV=$(cat ${CONFIG} | grep -v '#' | sed '/^$/d' | sed 's/^/ --env /')
run_dir=${run_dir:-/run}
eval run_in="~${SVCUSER}"

name="${SVCNAME}"
description="${SVCNAME} daemon"
command="${JAVA_HOME}/bin/java"
command_background="true"
command_args="${JVM_OPTIONS}
-Djetty.port=${BLAZEGRAPH_PORT}
-Dcom.bigdata.journal.AbstractJournal.file=${BLAZEGRAPH_JOURNAL}
-Dcom.bigdata.rdf.sail.sparql.PrefixDeclProcessor.additionalDeclsFile=${BLAZEGRAPH_PREFIXES}
-server -jar \"${SVC_JAR}\""
start_stop_daemon_args="
--wait=1000
--group ${SVCGROUP}
--user ${SVCUSER}
--stdout ${LOG}
--stderr ${LOG}
--chdir ${run_in}
${ENV}"
pidfile="${run_dir}/${SVCNAME}/pid"

checkconfig() {
    return 0
}

start_pre() {
    checkconfig || return 1
    checkpath --directory --mode 0700 --owner root:root "${run_dir}/${SVCNAME}"
}

depend() {
    after net
}
